<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
                <tr>
                    <td>{{ libro.id }}</td>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.autor }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <form action="{% url '' libro.id %}" method="POST">
            {% csrf_token %}
            <label for="libro_id">ID del libro:</label>
            <input type="number" name="libro_id" required>
            <button type="submit">Borrar</button>
        </form>
    </table>
</body>
</html>